openapi: 3.0.3
info:
  title: Jules API (Alpha)
  version: v1alpha
  description: >
    The Jules API integration layer for creating autonomous agent sessions and polling
    real-time activities from the backend engine.

servers:
  - url: https://jules.googleapis.com/v1alpha
    description: Production Alpha Server

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Goog-Api-Key

security:
  - ApiKeyAuth: []

paths:
  /sources:
    get:
      summary: Retrieve Available Sources
      description: Returns a list of available GitHub repositories connected to the authenticated user's account.
      operationId: getSources
      responses:
        '200':
          description: A list of connected sources.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sources:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The full internal source name (e.g., sources/github/owner/repo)
                        githubRepo:
                          type: object
                          properties:
                            owner:
                              type: string
                            repo:
                              type: string
        '401':
          description: Unauthorized (Invalid or missing API key)

  /sessions:
    get:
      summary: List Agent Sessions
      description: Retrieves a list of sessions for the authenticated user.
      operationId: listSessions
      parameters:
        - name: pageSize
          in: query
          required: false
          description: The number of sessions to return per page.
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: A list of sessions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        title:
                          type: string
                        prompt:
                          type: string
                        sourceContext:
                          type: object
                          properties:
                            source:
                              type: string
                            githubRepoContext:
                              type: object
                              properties:
                                startingBranch:
                                  type: string
                        outputs:
                          type: array
                          items:
                            type: object
                            properties:
                              pullRequest:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  title:
                                    type: string
                                  description:
                                    type: string
        '401':
          description: Unauthorized
    post:
      summary: Create Agent Session
      description: Initiates a new autonomous agent session bound to a specific GitHub repository source.
      operationId: createSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prompt
                - sourceContext
                - automationMode
              properties:
                prompt:
                  type: string
                  description: The raw markdown prompt for the agent, including the user's task.
                sourceContext:
                  type: object
                  required:
                    - source
                    - githubRepoContext
                  properties:
                    source:
                      type: string
                      description: Target repository source identifier.
                    githubRepoContext:
                      type: object
                      properties:
                        startingBranch:
                          type: string
                          default: main
                automationMode:
                  type: string
                  enum:
                    - AUTO_CREATE_PR

                title:
                  type: string
                  description: An optional human-readable title for the session.
                requirePlanApproval:
                  type: boolean
                  description: If true, the session will require explicit plan approval.
      responses:
        '200':
          description: Session created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier for the created session.
        '400':
          description: Bad request (Invalid payload)
        '401':
          description: Unauthorized


  /sessions/{sessionId}:
    get:
      summary: Get Agent Session
      description: Retrieves a specific session for the authenticated user.
      operationId: getSession
      parameters:
        - name: sessionId
          in: path
          required: true
          description: The unique identifier of the session.
          schema:
            type: string
      responses:
        '200':
          description: Session details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  title:
                    type: string
                  prompt:
                    type: string
        '401':
          description: Unauthorized
        '404':
          description: Session not found

  /sessions/{sessionId}:approvePlan:
    post:
      summary: Approve Session Plan
      description: Approves a plan in a session.
      operationId: approvePlan
      parameters:
        - name: sessionId
          in: path
          required: true
          description: The unique identifier of the session.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Plan approved successfully.
        '401':
          description: Unauthorized
        '404':
          description: Session not found

  /sessions/{sessionId}/activities:
    get:
      summary: Poll Session Activities
      description: Polls the backend for real-time progress activities of an active agent session.
      operationId: getActivities
      parameters:
        - name: sessionId
          in: path
          required: true
          description: The unique identifier of the session.
          schema:
            type: string
        - name: pageSize
          in: query
          required: false
          description: The number of activities to return per page.
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: A list of session activities.
          content:
            application/json:
              schema:
                type: object
                properties:
                  activities:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        createTime:
                          type: string
                          format: date-time
                        progressUpdated:
                          type: object
                          properties:
                            title:
                              type: string
                            description:
                              type: string
                        planGenerated:
                          type: object
                          properties:
                            plan:
                              type: object
                              properties:
                                steps:
                                  type: array
                                  items:
                                    type: object
                        sessionCompleted:
                          type: boolean
                        artifacts:
                          type: array
                          items:
                            type: object
                            properties:
                              changeSet:
                                type: object
                                properties:
                                  gitPatch:
                                    type: object
                                    properties:
                                      suggestedCommitMessage:
                                        type: string
        '404':
          description: Session not found
